{%extends 'base_layout.html'%}

{%block content%}
<div class="post__individual">
  <div class="post__individual-header">
    <img src="{{post.thumbnail.url}}" alt="post__image" class="post__img" width='400px'>
  </div>
  <div class="post__individual-body">
    <span class="tag tag-blue">{{post.readtime}} min read</span>
    <h2>{{post.title}}</h2>
    <p>{{post.description}}</p>
  </div>
  <div class="post__individual-footer">
    <div class="user">
      <img src="https://i.pravatar.cc/40?img=8" alt="user__image" class="user__image">
      <div class="user__info">
        <h5>Saurabh</h5>
        <small>{{post.date}}</small>
      </div>
    </div>
  </div>
</div>
{%endblock%}
