{%extends 'base_layout.html'%}
{%block content%}
<div class="post">
  <div class="post__header">
    <img src="https://source.unsplash.com/600x400/?computer" alt="post__image" class="post__image" width="600">
  </div>
  <div class="post__body">
    <span class="tag tag-blue">5 min read</span>
    <h4>{{post.title}}</h4>
    <p>{{post.description}}</p>
  </div>
  <div class="post__footer">
    <div class="user">
      <img src="https://i.pravatar.cc/40?img=8" alt="user__image" class="user__image">
      <div class="user__info">
        <h5>Saurabh</h5>
        <small>{{post.date}}</small>
      </div>
    </div>
  </div>
</div>
{%endblock%}
